@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<section id="login">
    <form id="login-form" method="post">
        <div class="container">
            <h1>Вход</h1>
            <label for="email">Потребителско име</label>
            <input id="email" asp-for="Input.Email" placeholder="Въведете потребителско име" name="email" type="text">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <label for="password">Парола</label>
            <input id="password" asp-for="Input.Password" type="password" placeholder="Въведете парола" name="password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <input type="submit" class="registerbtn button" value="Вход">
            <div class="container signin">
                <p>Нямате акаунт ? <a href="register" class="loginLink">Регистрирай се тук!</a>.</p>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
