@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрирай се";
}

<section id="register">
    <form id="register-form" method="post" enctype="multipart/form-data">
        <div class="container">
            <h1>Регистрация</h1>
            <label asp-for="Input.Email">Потребителско име</label>
            <input id="username" asp-for="Input.Email" type="text" placeholder="Въведете потребителско име">
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <label asp-for="Input.Password">Парола</label>
            <input id="password" asp-for="Input.Password" type="password" placeholder="Въведете парола">
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <label asp-for="Input.ConfirmPassword">Повторете паролата</label>
            <input id="repeatPass" asp-for="Input.ConfirmPassword" type="password" placeholder="Повторете паролата">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <label asp-for="Input.PhoneNumber">Телефонен номер</label>
            <input id="phoneNumber" asp-for="Input.PhoneNumber" type="text" placeholder="Телефонен номер">
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

            <label asp-for="Input.Images">Документ за самоличност</label>
            <input id="images" asp-for="Input.Images" placeholder="Документ за самоличност">
            <span asp-validation-for="Input.Images" class="text-danger"></span><br />

            <input type="submit" class="registerbtn button" value="Регистрирай се">

            <div class="container signin">
                <p>Вече имате създаден акаунт? <a href="login" class="loginLink">Влезте</a>.</p>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
