@{
    ViewData["Title"] = "За нас";
}

<div class="full" style="background-image: url('~/images/pg3.jpg');">
    <div class="container">
        <div class="row clearfix">
            <div class="col-12 text-center" style="margin-top: 50px; margin-bottom:50px; background-color:rgba(255, 255, 255, 0.7)">
                <h1>За нас</h1>
            </div>


        </div>
    </div>
</div>
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-justify">
                <p>
                    През 2010 година, Петрослав Гочев градски шампион по фигурно пързаляне на Созопол, му става скучно и решава да създаде Клик енд Драйв общество в града.
                </p>
                <p>Под ръка имал само своя ентусиазъм и идеята за Созопол като един развит град, подходящ за колоездене и туризъм.</p>
                <p>Така се родил "ClickAndDrive".</p>

            </div>
            <div class="col-8 text-justify">
                <img src="~/images/pg1.jpg" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-8 text-justify">
                <img src="~/images/pg2.jpg" width="100%">
            </div>
            <div class="col-4 text-justify">

                <p>
                    "ClickAndDrive" не е просто магазин за наем на велосипеди и сервиз.
                </p>
                <p>Ние сме малко общество от приятели, обединени около идеала за съвместна работа и обмен на идеи с хората по цял свят.</p>
                <p>
                    Откакто сме отворили врати, непрестанно подпомагаме колоездачи и пътешественици от всяко кътче на планетата,
                    като поправяме техните велосипеди и им даваме подслон.
                </p>
                <p>
                    С течение на времето, се превърнахме в екип, съставен от авантюристи,
                    които споделят еднакви мечти за околосветски пътешествия и каране на байкове.
                </p>
            </div>
        </div>
    </main>
</div>