<section id="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <article>
                    <section>
                        <div style="height: 20px">
                            <span></span>
                        </div>
                        <div>
                            <div">
                                <h2 style="text-align: center;">Контакти</h2>

                                <hr style="width: 50%;" />
                        </div>
                        <div style="height:20px"><span></span></div>
                        <div class="company-info-container">
                            <div class="company-data-left">

                                <h4><span style="color: black;">Контакти:</span></h4>
                                <h5>
                                    <span style="color: black;">тел: +359 888 888 8888</span><br />
                                    <span style="color: black;"><a style="color: black;" href="mailto:sofiabikerental@gmail.com">sofiabikerental@gmail.com</a></span><br />
                                    <span style="color: black;"><a style="color: black;" href="http://www.sofiabike.com/" target="_blank" rel="noopener">www.sofiabike.com</a></span>
                                </h5>
                            </div>
                            <div class="company-data-right">
                                <h4><span style="color: black;">Адрес за наемане на място на велосипед:</span></h4>
                                <p class="paragraph">
                                    <span style="color: black;">ул. "Стара планина" 9</span><br />
                                    <span style="color: black;">Созопол 8130</span><br />
                                    <span style="color: black;">Созопол 8130</span><br />
                                </p>

                            </div>
                        </div>

                <div style="height: 50px"><span></span></div>

    <div style="width: 100%">
        <iframe width="80%"
                height="400"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Sozopol%20Stara%20planina%209+(Click%20and%20Drive)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
    </div>
    </div><div style="height: 100px"><span class="vc_empty_space_inner"></span></div>



</section>
                </article>
            </div>
        </div>
    </div>
</section>