@using ClicksAndDrive.Web.ViewModels.Bicycles
@model IEnumerable<BicycleViewModel>
@{
    ViewData["Title"] = "Велосипеди:" ;
}
<div class="text-center">
    <h1 class="display-4">Велосипеди</h1>
</div>
    @foreach (var bicycle in this.Model)
    {
        <div class="card mb-3" style="max-width: 540px;" id="bicycle">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/@bicycle.ImageUrl.Replace("wwwroot/","")" class="card-img" alt="@bicycle.Made">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@bicycle.Made</h5>
                        <p class="card-text">Цена на час: @bicycle.PriceForHour.ToString("0.00") BGN.</p>
                        <a asp-action="Details" asp-route-id="@bicycle.Id" class="btn btn-info">Детайли</a>
                    </div>
                </div>
            </div>
        </div>
    }

