@using ClicksAndDrive.Web.ViewModels.ElectricScooter
@model IEnumerable<ElectricScooterViewModel>
@{
    ViewData["Title"] = "Ел.Тротинетки";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Електрически тротинетки</h1>
    </div>

    <div class="bike-cards-container">
        @foreach (var scooter in this.Model)
        {
            <div class="card" style="width: 18rem; margin-top: 30px; margin-bottom: 20px;  margin-right: 20px">
                <img src="~/@scooter.ImageUrl.Replace("wwwroot/","")" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">@scooter.Made</h5>
                    <p class="card-text">Price For Hour: @scooter.PriceForHour.ToString("0.00")€</p>
                    <a asp-action="Details" asp-route-id="@scooter.Id" class="btn" style="background-color: #ED1C24; color: white;">Детайли</a>
                </div>
            </div>
        }
    </div>
</div>
