@using ClicksAndDrive.Data.Models.Enums
@using ClicksAndDrive.Web.ViewModels.Motorcycles
@model EditMotorcycleViewModel
@{
    ViewData["Title"] = "Редактирайте скутер: " + Model.Made;
}

<h1 class="title-of-form">Редактирайте скутер</h1>

<form method="post" class="col-md-6 center" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Type" class="label-position"></label>
        <select asp-for="Type" class="dropdown-container"
                asp-items="@Html.GetEnumSelectList<MotorcycleType>()">
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Made" class="label-position"></label>
        <input asp-for="Made" class="form-control" placeholder="Made" />
        <span asp-validation-for="Made" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Transmission" class="label-position"></label>
        <select asp-for="Transmission" class="dropdown-container"
                asp-items="@Html.GetEnumSelectList<TransmissionType>()">
        </select>
        <span asp-validation-for="Transmission" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PriceForHour"class="label-position"></label>
        <input asp-for="PriceForHour" class="form-control" placeholder="PriceForHour" />
        <span asp-validation-for="PriceForHour" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsAvailable" class="label-position"></label>
        <select class="dropdown-container" asp-for="IsAvailable">
            <option value="True">Да</option>
            <option value="False">Не</option>
        </select>
        <span asp-validation-for="IsAvailable" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="label-position"></label>
        <input asp-for="Image" class="img-uploader" placeholder="Image" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="label-position"></label>
        <textarea cols="10" asp-for="Description"class="form-background" placeholder="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button asp-area="" asp-action="Details" asp-route-id="@this.Model.Id" class="btn" style="background-color: #ED1C24; color: white;">Назад</button>
    <button type="submit" asp-route-type="@this.Model.Type" onclick="return EditItem()" class="btn" style="background-color: #ED1C24; color: white;">Промени</button>
</form>
