@using ClicksAndDrive.Data.Models.Enums
@using ClicksAndDrive.Web.ViewModels
@model AddMotorcycleViewModel
@{
    ViewData["Title"] = "Добавете нов мотор";
}
<h1>Добавете нов мотор</h1>

<form method="post" class="col-md-6" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type" class="form-control"
                asp-items="@Html.GetEnumSelectList<MotorcycleType>()">
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Made">Made *</label>
        <input asp-for="Made" class="form-control" />
        <span asp-validation-for="Made" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Transmission"></label>
        <select asp-for="Transmission" class="form-control"
                asp-items="@Html.GetEnumSelectList<TransmissionType>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="PriceForHour">PriceForHour *</label>
        <input asp-for="PriceForHour" class="form-control" />
        <span asp-validation-for="PriceForHour" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image *</label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea cols="10" asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <p>* - fields are required</p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>