@using ClicksAndDrive.Data.Models.Enums
@using ClicksAndDrive.Web.ViewModels.Bicycles
@model AddBycicleViewModel
@{
    ViewData["Title"] = "Добавете нов велосипед";
}

<h1 class="title-of-form">Добавете нов велосипед</h1>

<form method="post" class="col-md-6 center" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Type" class="label-position"></label>
        <select asp-for="Type" class="dropdown-container" asp-items="@Html.GetEnumSelectList<BicycleType>()">
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Made" class="label-position"></label>
        <input asp-for="Made" placeholder="Марка" class="form-control" />
        <span asp-validation-for="Made" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Speeds" class="label-position"></label>
        <input asp-for="Speeds" placeholder="Скорости" class="form-control" />
        <span asp-validation-for="Speeds" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Size" class="label-position"></label>
        <select asp-for="Size" class="dropdown-container" asp-items="@Html.GetEnumSelectList<BicycleSize>()">
        </select>
        <span asp-validation-for="Size" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SizeOfTires" class="label-position"></label>
        <input asp-for="SizeOfTires" placeholder="Размер на гумите" class="form-control" />
        <span asp-validation-for="SizeOfTires" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PriceForHour" class="label-position"></label>
        <input asp-for="PriceForHour" placeholder="Цена на час" class="form-control" />
        <span asp-validation-for="PriceForHour" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="label-position"></label>
        <input asp-for="Image" class="img-uploader" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="label-position"></label>
        <textarea cols="10" asp-for="Description" placeholder="Описание" class="form-background"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="formBtn">Добави</button>
</form>